<div class="sidebar p-2">
    <div class="card">
        <div class="card-header bg-white">
            <h5>Share this Page</h5>
        </div>
        <div class="card-body">
            <ul class="list-unstyled ">
                <li><a class="custom-link" href="#"><i class="fab fa-facebook-square"></i> Share on Facebook</a></li>
                <li><a class="custom-link" href="#"><i class="fab fa-twitter-square"></i> Share on Twitter</a></li>
                <li><a class="custom-link" href="#"><i class="fab fa-google-plus-square"></i> Share on Google+</a></li>
            </ul>
        </div>
    </div>
</div>